<!DOCTYPE html>
<html lang="en" ng-app="tea" manifest="tea-clock.appcache">
<head>
    <meta charset="utf-8">
    <title>{{'_AppTitle_' | i18n}}</title>
    <meta name="description" content="Tea timer">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="libs/jquery-ui/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet"/>
    <link type="text/css" href="css/override.css" rel="stylesheet"/>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/favicon.ico">

    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
        window.___gcfg = {lang:'en'};

        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>


</head>

<body>
<div class="container">
    <div class="page-header">
        <h1>
            <span ng-bind-template="{{'_Title_' | i18n}}"></span>
            <small ng-bind-template="{{'_SubTitle_' | i18n}}"></small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-block alert-error" id="notification_not_found" hidden="hidden">
                <a class="close" data-dismiss="alert">×</a>
                <h4 class="alert-heading">Chrome or Firefox required!</h4>
                This application needs <strong>desktop notifications</strong>, which are currently implemented in <strong>Google
                Chrome</strong> or <strong>Mozilla Firefox</strong>.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-block alert-error" id="notification_disabled" hidden="hidden">
                <a class="close" data-dismiss="alert">?</a>
                <h4 class="alert-heading">Notifications required!</h4>
                This application really needs <strong>desktop notifications</strong>, please enable it!
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="well" ng-controller="ControlPanelController">
                <form id="form1" class="form-horizontal">
                    <fieldset>
                        <legend ng-bind-template="{{'_Slogan_' | i18n}}"></legend>
                        <div class="form-group">
                            <label class="control-label"><span ng-bind-template="{{'_TeaLabel_' | i18n}}"></span></label>
                            <div class="controls" ng-repeat="tea in teas">
                                <div class="radio">
                                    <label>
                                        <input type='radio' ng-model='radio.index' value='{{$index}}'
                                               ng-checked="tea.checked" ng-change="setTea(tea)"/>
                                            {{tea.title | i18n}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" ng-bind-template="{{'_TimeLabel_' | i18n}}"></label>
                            <div class="controls">
                                <slider class="col-lg-8" id="slider" ng-controller="SliderController"></slider>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" ng-bind-template="{{'_TemperatureLabel_' | i18n}}"></label>
                            <div class="btn-group controls">
                                <button type="button" class="btn btn-default" ng-repeat="degree in degrees" ng-class="{active: degree.name == chosenDegree.name}" ng-click="setDegree(degree)" ng-bind-template="{{degree.title}}"></button>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-actions">
                        <button class="btn btn-danger btn-large" type="button" ng-click="start()">
                            <i class="glyphicon glyphicon-time icon-white"></i> <span ng-bind-template="{{'_SteepButtonLabel_' | i18n}}"></span></button>&nbsp;
                    </div>
                </form>
                <!-- modal(s) -->
                <div class="modal fade" id="countdownModal" tabindex="-1" role="dialog" aria-labelledby="countdownLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3>{{displayName | i18n}}</h3>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center;"><h1>{{actualTime|time}}</h1></div>
                                <div class="progress">
                                    <div class="progress-bar" ng-style="{'width': actualTime / (time / 100) + '%'}" id="countdownBar"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary btn-large" ng-click="timer = false" data-dismiss="modal" aria-hidden="true" id="btn-reset"><i class="glyphicon glyphicon-repeat icon-white"></i>
                                    <span ng-bind-template="{{'_ResetButtonLabel_' | i18n}}"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="text-align:center">
            <div class="well" ng-controller="InfoPanelController">
                <div class="clearfix">
                    <img src="img/icon_pruhledna.png"><br/><br/>
                </div>
                <div class="clearfix">
                    <a href="#" class="btn btn-default btn-lg" id="teaName" ng-bind-template="{{displayName | i18n}}"></a>
                </div>
                <br><br>
                <div class="clearfix">
                    <a href="#" class="btn btn-default btn-lg"><span ng-bind-template="{{displayTime|time}}"></span></a><br>
                    <small>
                        {{'_TimeTooltip_' | i18n}}
                    </small>
                </div>
                <br><br>
                <div class="clearfix">
                    <a href="#" class="btn btn-default btn-lg"><span ng-bind-template="{{displayTemp}} °{{chosenDegree.symbol}}"></span></a><br>
                    <small>
                        {{'_TemperatureTooltip_' | i18n}}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <g:plusone annotation="inline"
                           href="https://chrome.google.com/webstore/detail/hmldmlgafdbnfhhicheojakimpmocggp"></g:plusone>
            </p>

        </div>
    </div>


    <footer>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-339099-9']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </footer>

    <a href="https://github.com/krtek/Tea-clock">
        <img style="position: absolute; z-index: 5; top: 0; right: 0; border: 0;"
             src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
             alt="Fork me on GitHub"/>
    </a>


</div>
<!-- /container -->


<!-- scripts -->

<script src="libs/jquery/jquery.min.js"></script>
<script src="libs/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="libs/angular/angular.min.js"></script>
<script src="i18n/angular-locale.js"></script>


<script type="text/javascript" src="js/teas.js"></script>
<script type="text/javascript" src="js/timer-ang.js"></script>


<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>